* text=auto
.gitattributes text eol=lf
*.go text eol=lf
*.mod text eol=lf
*.proto text eol=lf
*.yml text eol=lf
protocol/**/*.json text eol=lf
protocol/**/*.md text eol=lf
security/*.json text eol=lf
Dockerfile text eol=lf
Makefile text eol=lf
